# Kaggle Data
data/raw
data/parsed

# Results data
data/results


# temporary files
*.swp
*~

# Object files
*.o
*.pyc

# Matlab executables
*.mex

# latex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

# sublime
*.sublime-*

# macos
*.DS_Store

# make your own pdfs
*.pdf
