[submodule "proj/1/release"]
  path = proj/1/release
  url = http://www.cs.cornell.edu/courses/cs4670/2013fa/projects/p1/skeleton.git
[submodule "resources/tex"]
	path = resources/tex
	url = https://github.com/jawshooah/tex.git
[submodule "proj/2/skeleton"]
	path = proj/2/skeleton
	url = http://www.cs.cornell.edu/courses/cs4670/2013fa/projects/p2/skeleton.git
[submodule "proj/3/skeleton"]
	path = proj/3/skeleton
	url = http://www.cs.cornell.edu/courses/cs4670/2013fa/projects/p3/skeleton.git
