# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Additional files to ignore
*.pdf
*.suo
*.opensdf
*.sdf
*.vcxproj.user
*Debug
*Release
*solution
*code
*.exe
*.f
*.db
*.txt
*.key
*.pgm
*.ppm
*.tga
*.sh
*.sln
*zip_files
*test_sets
*build
*img

